# config.yaml

max_iter: 20000      
save_iter: 10000       
log_iter: 10                
n_samples: 16          
len_lz: 92
n_imps: 16
threshold: 39
save_path: "./save"

dataset:
  train:
    radius: 0.5
    bsize: 2048
    scale: 1
    scaleT: 1
    downsample: 2
    file: "./data/yourdata.nii.gz"
  eval:
    radius: 0.5
    bsize: 2048
    scale: 1
    scaleT: 2
    downsample: 2
    file: "./data/yourdata.nii.gz"

dataloader:
  train:
    batch_size: 1
    shuffle: true
  eval:
    batch_size: 1
    shuffle: false

rcan:
  n_resgroups: 3
  n_resblocks: 4
  n_feats: 32
  reduction: 16
  in_channels: null    
  out_channels: null  

optim:
  name: "Adam"
  lr: 0.0005
  betas: [0.9, 0.999]
  eps: 0.000001

lr_decay:
  lr_init: 0.0005
  lr_final: 0.000005
  max_iter: 50000
  lr_delay_steps: 1000
  lr_delay_mult: 0.01

clip_grad:
  max_val: 0.1
  max_norm: 0.1

model:
  name: "MLP"
  netD: 10
  netW: 256
  in_ch: 4
  out_ch: 2
  skips:
    - 5
  max_freq: 10
  p_fns:
    - "sin"
    - "cos"
